
.DS_Store
.idea/Github.iml
.idea/modules.xml
.idea/vcs.xml
.idea
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Github
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/Github.dir/test.c.o
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-8540ef8a1a4a0b5de6da.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c20e2d446acee9be59d3.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-864daf75ae11250c591f.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-10-25T11-54-22-0095.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/target-Github-Debug-ed28a6e80590edc27f53.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-eaf77ef16075f5145eb9.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
